name: Gradle CI

on:
  push:
    branches:
      - main
      - alumno-*
  pull_request:
    branches:
      - main
      - alumno-*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Gradle permissions
        run: chmod +x gradlew

      - name: Run tests
        run: ./gradlew test --no-daemon
